.primeraSeccion_Container {
  height: 100vh;
  width: 100%;
  padding: 7rem 7rem;
  display: flex;
  flex-direction: column;
  /* background-image: url("../../../assets/img/slider-vbus.svg"); */
  /* background-image: url("../../../assets/img/viot-service2.png"); */
  border-bottom: 3px solid #f44800;
  background-size: cover;
  background-repeat: no-repeat;
}

.s1_mainTitle__container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  color: white;
  z-index: 2;
}

.s1_mainTitle__container h1 {
  font-size: 5rem;
  width: 60%;
}

.s1_subTitle__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: white;
  height: 50%;
  z-index: 2;
}

.s1_subTitle__container h5 {
  font-size: 1.5rem;
  width: 40%;
  line-height: 2rem;
}

.segundaSeccion_Container {
  height: auto;
  background-color: white;
  width: 100%;
  padding: 1.5rem 7rem;
  display: flex;
  flex-direction: column;
}

.s2_primeraSeccion__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 7rem;
  /* border-bottom: 1px solid #f44800; */
}

.s2_primeraSeccion_title {
  width: 60%;
  height: 100%;
}

.s2_primeraSeccion_title h1 {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 400;
  margin-top: 3rem;
  color: #121212;
}

.s2_primeraSeccion_content {
  width: 40%;
  height: 100%;
  padding-top: 3rem;
}

.s2_primeraSeccion_content h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #121212;
}

.s2_primeraSeccion_content p {
  margin-top: 7rem;
  font-size: 1.25rem;
  color: #121212;
}

.s2_segundaSeccion_container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.s2_segundaSeccion_header {
  display: flex;
  flex-direction: row;

}

.s2_segundaSeccion_column {
  width: 50%;
  height: 20%;
}

.s2_segundaSeccion_column h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 2rem;
  color: #121212;
}

.s2_segundaSeccion_column p {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 2.5rem;
  color: #121212;
}

.s2_segundaSeccion_videoContainer {
  width: 100%;
  height: 70vh;
  margin-top: 5rem;
}

.s2_segundaSeccion_videoContainer iframe {
  width: 100%;
  height: 100%;
}

.s2_terceraSeccion_container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  color: #121212;
}

.s2_terceraSeccion_container h1 {
  width: 60%;
  font-size: 3rem;
  font-weight: 400;
}

.viemy_tabs__mainContainer {
  margin-top: 5rem;
}

.viemy_tabs__container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  /* border-bottom: 1px solid black; */
  padding: 3rem 0rem;
  justify-content: space-around;
}

.viemy_tabs_index {
  width: 20%;
}

.viemy_tabs_title {
  width: 30%;
}

.viemy_tabs_title h1 {
  font-size: 2.7rem;
  line-height: 2.6rem;
  font-weight: 400;
}

.viemy_tabs_text {
  width: 40%;
}

.viemy_tabs_text h5 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2rem;

}

.viemy_tabs_text h6 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
  line-height: 2rem;
}

.viemy_tabs_text ul {
  padding: 1rem;

}

.viemy_tabs_text ul li {

  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2rem;
  margin-top: 0.25rem;
}

.s2_cuartaSeccion_container {
  width: 100%;
  height: fit-content;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  color: #121212;
}

.galeria {
  height: 100vh;
}

.galeria .s2_cuartaSeccion_imageContainer .ant-image {
  width: 55%;
  margin: 10px 0px;
}

.galeria .s2_cuartaSeccion_imageContainer .ant-image:nth-child(even) {
  align-self: flex-start;
}

.galeria .s2_cuartaSeccion_imageContainer .ant-image:nth-child(odd) {
  align-self: flex-end;
}

.galeria .s2_cuartaSeccion_imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.s2_cuartaSeccion_item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 7rem;
}

.s2_cuartaSeccion_imageContainer {
  width: 50%;
  height: 100%;
}

.s2_cuartaSeccion_textContainer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: space-evenly;
  width: 50%;
}

.s2_cuartaSeccion_textContainer h1 {
  font-size: 4rem;
  font-weight: 500;
}

.s2_cuartaSeccion_textContainer p {
  font-size: 1.25rem;
  font-weight: 600;
}

.s2_cuartaSeccion_endContainer {
  display: flex;
  flex-direction: row;
  height: 60vh;
  margin-top: 7rem;
  justify-content: space-between;
}

.s2_cuartaSeccion_EndTitle {
  width: 50%;
}

.s2_cuartaSeccion_EndTitle h1 {
  font-size: 4rem;
  font-weight: 400;
}

.s2_cuartaSeccion_EndContent {
  width: 50%;
  padding: 1.5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.s2_cuartaSeccion_EndContent h5 {
  font-size: 1.5rem;
  width: 80%;
}

.segundaSeccionDos_Container {
  background-color: #121212;
  width: 100%;
  padding: 1.5rem 7rem;
  height: auto;
  flex-direction: column;

}



.terceraSeccion_Container {
  background-color: #121212;
  width: 100%;
  padding: 1.5rem 7rem;
  height: auto;
  display: flex;
  flex-direction: column;
}

.s3_header_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5rem;
}

.s3_header_badge {
  width: 30%;
}

.s3_header_title {
  width: 70%;
}

.s3_header_container h1 {
  font-size: 4rem;
  color: white;
  font-weight: 400;
}

.s3_content_container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.s3_content_container h1 {
  margin-top: 2rem;
  font-size: 3rem;
  color: white;
  font-weight: 400;
}

.s3_content_container p {
  color: #a0a0a0;
  font-size: 1.25rem;
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.s2_quintaSeccion_container {
  width: 100%;
  height: 100vh;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.s2_quintaSeccion_container h1 {
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.textSection {
  display: flex;
  align-items: center;
}

.textSection.columns {
  display: flex;
  flex-direction: column;
}

.textSection .column-60 {
  box-sizing: border-box;
  width: 60%;
  height: fit-content;
  padding-left: 18%;
}

.textSection .column-40 {
  box-sizing: border-box;
  width: 40%;
  height: fit-content;
  line-height: 2rem;
}

.column-60 ul {
  font-size: 1.3rem;
  margin-top: 2rem;
  padding-left: 2rem;
  line-height: 3rem;
}

.column-60 ul li {
  font-size: 1.3rem;
  margin-top: 1rem;
  padding-left: 2rem;
  line-height: 2rem;
}


.altura100 {
  height: 100%;
}

.alignVerticalCenter {
  align-items: center;
  line-height: 2rem;
}


.fontSize3 {
  font-size: 2rem;
}

.centerContent {
  display: flex;
  justify-content: center;
}
@media(max-width:1920px) {

  .s1_mainTitle__container {
    height: 80%;
  }

  .s1_subTitle__container {
    height: 20%;
  }

  .s1_subTitle__container h5 {
    font-size: 1.4rem;
  }

  .s2_primeraSeccion_title h1 {
    font-size: 3.5rem;
  }

  .s2_primeraSeccion_content h2 {
    font-size: 1.8rem;
  }

  .s2_cuartaSeccion_textContainer h1 {
    font-size: 3.5rem;
  }

  .s2_quintaSeccion_container h1 {
    font-size: 3.5rem;
  }

  .fontSize3 {
    font-size: 1.8rem;
  }

  .column-60 ul {
    font-size: 1.3rem;
    margin-top: 2rem;
    padding-left: 2rem;
    line-height: 3rem;
  }

  .column-60 ul li {
    font-size: 1.3rem;
    margin-top: 1rem;
    padding-left: 2rem;
    line-height: 2rem;
  }
}
@media(max-width:1680px) {

  .s1_mainTitle__container {
    height: 80%;
  }

  .s1_subTitle__container {
    height: 20%;
  }

  .s1_subTitle__container h5 {
    font-size: 1.4rem;
  }

  .s2_primeraSeccion_title h1 {
    font-size: 3.5rem;
  }

  .s2_primeraSeccion_content h2 {
    font-size: 1.8rem;
  }

  .s2_cuartaSeccion_textContainer h1 {
    font-size: 3.5rem;
  }

  .s2_quintaSeccion_container h1 {
    font-size: 3.5rem;
  }

  .fontSize3 {
    font-size: 1.8rem;
  }

  .column-60 ul {
    font-size: 1.3rem;
    margin-top: 2rem;
    padding-left: 2rem;
    line-height: 3rem;
  }

  .column-60 ul li {
    font-size: 1.3rem;
    margin-top: 1rem;
    padding-left: 2rem;
    line-height: 2rem;
  }
}

@media(max-width: 1366px) {
  .s2_cuartaSeccion_textContainer h1 {
    font-size: 3rem;
    z-index: 2;
  }

  .s1_mainTitle__container h1 {
    font-size: 4.5rem;
    font-weight: 500;
    width: 50%;
  }

  .s1_subTitle__container h5 {
    font-size: 1.2rem;
    width: 50%;
  }

  .s2_cuartaSeccion_image {
    transform: scale(0.85);
    z-index: 1;
  }

  .s2_cuartaSeccion_textContainer p {
    z-index: 2;
  }

  .s2_cuartaSeccion_EndContent h5 {
    font-size: 1.25rem;

  }

  .primeraSeccion_Container {
    height: 100vh;
    width: 100%;
    padding: 7rem 4rem;
    display: flex;
    flex-direction: column;
    /* background-image: url("../../../assets/img/viot-service2.png"); */
    border-bottom: 3px solid #f44800;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: black; */
  }

  .s2_primeraSeccion_title img {
    /* CSS styling for the Image component */
    width: 70%;
    height: 40%;
  }

  .s2_primeraSeccion_title h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .s2_primeraSeccion__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    /* border-bottom: 1px solid #f44800; */
  }

  .s2_primeraSeccion_content {
    width: 45%;
    height: 100%;
    padding-top: 0;
  }

  .s2_primeraSeccion_content h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .s2_cuartaSeccion_textContainer h1 {
    font-size: 2.5rem;
    z-index: 2;
  }

  .s2_cuartaSeccion_textContainer p {
    font-size: 1.15rem;
    line-height: 1.3rem;
  }

  .fontSize3 {
    font-size: 1.4rem;
  }
}

/* Estilos para dispositivos m贸viles en orientaci贸n vertical */
@media only screen and (max-width: 480px) and (orientation: portrait) {

  .terceraSeccion_Container {
    background-color: #121212;
    width: 100%;
    padding: 1.5rem 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
}

.s3_header_container h1 {
  font-size: 2.75rem;
  color: white;
  font-weight: 350;
  padding: 16px;
}

.s3_content_container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.s2_cuartaSeccion_image {
  width: 100%;
  height: auto;
}
  .primeraSeccion_Container {
    height: 100vh;
    width: 100%;
    padding: 7rem 2rem;
    display: flex;
    flex-direction: column;
 

    /* background-image: url("../../../assets/img/viot-service2.png"); */
    border-bottom: 3px solid #f44800;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .s2_segundaSeccion_container {
    margin-top: 2rem;
  }

  .s2_terceraSeccion_container {
    margin-top: 3rem;
  }

  .s2_primeraSeccion_content p {
    margin-top: 15rem;
  }

  .s1_mainTitle__container h1 {
    font-size: 3.5rem;
    font-weight: 500;
    width: 50%;
    margin-top: 1rem;
  }

  .s1_subTitle__container h5 {
    font-size: 1rem;
    width: 50%;
    line-height: 1.5rem;
    position: absolute;
    margin-top: 4rem;
  
  }

  .segundaSeccion_Container {
    padding: 1rem 1rem;
  }

  .segundaSeccionDos_Container {

    padding: 1rem 1rem;


  }

  .s2_primeraSeccion_title img {
    /* CSS styling for the Image component */
    width: 50%;
    height: 25%;
  }

  .s2_primeraSeccion_title h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 1rem;
    color: #121212;
  }

  .s2_primeraSeccion_content {
    width: 100%;
    height: 100%;
    padding-top: 3rem;
  }

  .s2_primeraSeccion_content h2 {
    font-size: 1rem;
  }

  .action_button {
    width: 90%;
  }

  .s2_segundaSeccion_column {
    width: 100%;
    height: 50%;
  }

  .s2_segundaSeccion_column p {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
  }

  .s2_segundaSeccion_column h1 {
    font-size: 2.25rem;
    font-weight: 400;
    margin-top: 2rem;
    font-weight: bold;
  }

  .s2_segundaSeccion_header {
    display: block;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .s2_segundaSeccion_videoContainer {
    width: 98%;
    height: 23vh;
  }

  .s2_terceraSeccion_container h1 {
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
  }

  .viemy_tabs_index {
    width: 5%;
  }



  .viemy_tabs__container {

    flex-direction: column;
    padding: 2rem;

  }

  .viemy_tabs_index {
    width: 10%;
    margin-top: 0.5rem;
  }

  .viemy_tabs_title {
    width: 100%;
    margin-top: 1rem;
  }

  .viemy_tabs_text {
    width: 100%;
    margin-top: 3rem;
  }

  .textSection .column-40 {
    width: 100%;

  }

  .alignVerticalCenter {
    display: flex;
    flex-direction: column;
  }

  .column-40.centerContent {
    height: 10%;

  }

  .textSection .column-60 {
    width: 100%;
    padding-left: 0%;
    padding: 1.5rem;

  }

  .column-40.centerContent p {
    margin-bottom: 0% !important;
  }

  .s1_subTitle__container {
    height: 100%;
  }

  .s2_quintaSeccion_container {

    height: auto;
   
}

    .video-background {
        width: 100%;
        height: calc(100% + 17rem) !important;
    }


}

@media only screen and (max-width: 480px) and (max-height: 641px) and (orientation: portrait) {


  .s1_subTitle__container h5{
    margin-top: 7rem;  
    width: 80%;
  }
}
/* Estilos para dispositivos m贸viles en orientaci贸n horizontal */
@media only screen and (max-height: 480px) and (orientation: landscape) {}